$em_size = 15px
$em_size_small = 15px
$em_size_large = 15px

div.renderer-wrapper
  font-smoothing antialiased
  width 100%
  margin 0
  padding 0
    .em-size-wrapper
        width 100%
    .em-size
        position absolute
        visibility hidden
        top 0
        line-height 1em
        margin 0 0 0 -1000px
        padding 0
        width 1em
        height 1em

svg
  &.renderer-svg
    fill $color-bg
    font-family $hpin-data-font
    text-rendering optimizeLegibility
    box-sizing border-box
    .svg-background
      fill $color-bg
    tspan
      height 1em
      line-height 1em

.d4
  font-size 15px
  .axis
    .tick
      font-family $hpin-data-font
      &[data-anchor="middle"]
        text
          text-anchor middle
      text
        font-family $hpin-data-font
        shape-rendering crispEdges
        text-anchor middle
        fill black
      &:first-child
        text
          text-anchor middle
      line
        fill none
        stroke $color-chart-gridline
        stroke-width 1px
        shape-rendering crispEdges
      &.zero
        line
          stroke $color-chart-zeroline
      rect
        fill $color-bg
        shape-rendering crispEdges

    &.leftAxis
      text
        text-anchor start

    &.rightAxis
      text
        text-anchor end
    &[data-scale="time"]
      .tick:not([data-anchor="middle"])
        text
          text-anchor start
      .tick:first-child
        text
          text-anchor start

  .concealer-label
    font-family $hpin-data-font
    text
      fill $color-chart-axis-text
    rect
      fill $color-bg

  .connectors line
    fill none
    stroke-width 1px

  line.zero
    stroke $color-chart-zeroline
    shape-rendering crispEdges

  .margins
    .line, .other-line
      path
        fill none
        stroke-width 3px
        stroke-linecap round
        stroke-linejoin round
    .label
      font-family $hpin-data-font

  .column-label
    fill $hpin-data-font

  line.no-label-tick
    fill none
    stroke $color-chart-gridline
    stroke-width 1px
    shape-rendering crispEdges

.svg-text
  font-family $hpin-data-font
  font-size $em_size
  &.svg-text-credit
    font-size 11px !important
    fill #666
    text-anchor start
  &.svg-text-source
    font-size 11px
    fill #666
    //text
      //dominant-baseline central
    &.left
      text-anchor start
    &.right
      text-anchor end
  &.svg-text-title
    fill black
    font-family $hpin-data-font
    font-size 28px !important
    line-height 33.6px
    font-weight bold

.svg-source-pipe
    stroke $color-chart-meta
    fill none
    stroke-width 0.8px

.svg-label-text
  font-size 15px
  font-family $hpin-data-font
  cursor move

.crosshair
  line
    stroke-width 1
    shape-rendering crispEdges
    stroke black

.hidden-svg
  visibility hidden

.medium
    .margins
      .line, .other-line
        path
          stroke-width 3px

  .svg-text
    font-size $em_size

.small
    .margins
      .line, .other-line
        path
          stroke-width 2px

  .svg-text
    &.svg-text-pipe
      text
        dominant-baseline central
        font-size $em_size*0.6

  .svg-label-text
    font-size $em_size


.large
  .em-size
    font-size $em_size
  .d4
    font-size $em_size
    .margins
      .line, .other-line
        path
          stroke-width 4px

  .svg-text
    font-size $em_size

  .svg-label-text
    font-size $em_size

.cb-credit-logo
    fill $color-chart-meta
